.PostContent{
    width: 87%;
    text-align: left;
    margin-right: 8px;
}
.bolded{
    font-weight: bold;
    margin-top: 0em;
}
.bolded span{
    font-weight: normal;
    color: #AAB8C2;
}

.hashtag{
    color: #1DA1F2;
}
.hashtag:hover{
    cursor: pointer;
}

.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Icons img{
    height: 20px;
    width: auto;
    cursor: pointer;
}