.PostContent{
    width: 87%;
    text-align: left;
    margin-right: 8px;
}
.bolded{
    font-weight: bold;
    margin-top: 0em;
}
.bolded span{
    font-weight: normal;
    color: #AAB8C2;
}

.hashtag{
    color: #1DA1F2;
}
.hashtag:hover{
    cursor: pointer;
}

.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Icons img{
    height: 20px;
    width: auto;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
}
.Icons img:hover{
    transform: scale(1.1);
    border-radius: 35%;
}

.Comment:hover{
    background-color: #cfe7fa;
}
.Share:hover{
    background-color: #e6fdcd;
}
.Like:hover{
    background-color: #fddbdb;
}
