.PostContent{
    width: 87%;
    text-align: left;
    margin-right: 8px;
}

.bolded{
    font-weight: bold;
    margin-top: 0em;
}
.bolded span{
    font-weight: normal;
    color: #AAB8C2;
}

.hashtag{
    color: #1DA1F2;
}
.hashtag:hover{
    cursor: pointer;
}

.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Icons img{
    height: 20px;
    width: auto;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
}
.Icons img:hover{
    transform: scale(1.1);
    border-radius: 35%;
}

.Comment:hover{
    background-color: #cfe7fa;
}
.Share:hover{
    background-color: #e6fdcd;
}
.Like:hover{
    background-color: #fddbdb;
}

@media(max-width: 400px) {
    .PostContent {
        width: 78%;
    }
}

.loading{
    background-color: #E1E8ED;
    color: #E1E8ED;
    animation: blur 1.2s linear infinite;
    -webkit-animation: blur 1.2s  linear infinite;
    -moz-animation: blur 1.2s  linear infinite;
}


@keyframes blur {
    0%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
    50% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    100%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
}
