.SIdeDrawerContainter{
    width: 20%;
    max-height: 100vh;
}

.SideDrawer{
    max-height: 100vh;
    margin: auto;
    position: fixed;
    width: inherit;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.SideDrawer ul{
    overflow-y: scroll;
    list-style: none;
}
.SideDrawer ul::-webkit-scrollbar{
    width: 1px;
}


@media (min-height: 600px) {
    .SideDrawer ul{
        overflow-y: hidden;
    }
}

.SideDrawerItem{
    margin: 2.5em 0;
}
.SideDrawerItem span{
    padding: 0.5em 0.5em;
    border-radius: 25px;
}

.SideDrawerItem span:hover{
    cursor: pointer;
    color: #1DA1F2;
    background-color:rgba(29,161,242,0.16) ;
}
.active{
    color: #1DA1F2;
}

@media(max-width: 1050px){
    .SIdeDrawerContainter{
        display: none;
    }
}