
.close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 28px;
    height: 28px;
    opacity: 0.35;
    background-color: white;
}
.close:hover {
    opacity: 1;
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    left: 13.125px;
    content: ' ';
    height: 28.875px;
    width: 1.75px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
