.Modal {
    position: fixed;
    z-index: 600;
    width: 80%;
    border: 1.5px solid #657786;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.25s ease-in;
}

.ModalBright{
    background-color: white;
}

.ModalDark {
    background-color: #657786;
    border: 1.5px solid #AAB8C2;
    color: white;
}

@media (min-width: 300px) {
    .Modal{
        width: 280px;
        left: calc(50% - 140px);
    }

}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

@media (min-width: 1200px) {
    .Modal {
        width: 700px;
        left: calc(50% - 350px);
    }
}


