.Logo {
    background-color: transparent;
    margin: 25px 0 15px 0;
    height: 100px;
    width: 100%;
    box-sizing: border-box;

}

.Logo .srcOne{
    height: 100%;
}


@media (max-width: 1150px) {

}