.InfoContainer{
    width: 20%;
    max-height: 100vh;
}

.Info{
    max-height: 100vh;
    margin: 0;
    position: fixed;
    width: 18%;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 0;
    margin-left: 2.5em;
}

.Info ul{
    width: 90%;
    overflow-y: scroll;
    list-style: none;
    margin-top: 3.5em;
    background-color:  #F5F8FA;
    border-radius: 20px;
}
.Info ul::-webkit-scrollbar{
    width: 1px;
}
.ContainerInside{
    margin-left: -2.5em;
    padding-left: 1.5em;
    margin-top: -0.5em;
    border-bottom: solid #E1E8ED 1px;
}
.List{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.LoadingBlock{
    width: 90%;
    height: 10em;
    margin-bottom: 1em;
    background-color: #E1E8ED;
    color: #E1E8ED;
    animation: blur 1s linear infinite;
    -webkit-animation: blur 1s  linear infinite;
    -moz-animation: blur 1s  linear infinite;
    border-radius: 20px;
}

@media(max-width: 1550px){
    .Info{
        margin-left: 2em;
    }
}
@media(max-width: 1450px){
    .Info{
        width: 16.5%;
    }
}
@media(max-width: 1370px){
    .Info{
        width: 16%;
        margin-left: 1em;
    }
}
@media(max-width: 1200px){
    .Info{
        width: 15%;
        margin-left: 1em;
    }
}
@media(max-width: 1050px){
    .InfoContainer{
        width: 0;
        display: none;
    }
}
@media (min-height: 600px) {
    .Info ul{
        overflow-y: hidden;
    }
}

@keyframes blur {
    0%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
    50% {
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
    }
    100%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
}

