.Container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-around;
    border-bottom: solid #E1E8ED 1px;
    z-index: 1;
}
