.Followbtn {
    display: inline-block;
    padding: 12px 25px;
    /*padding-top: 7px;*/
    margin-bottom: auto;
    color: #F5F8FA;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #1DA1F2;
    -webkit-border-radius: 21px;
    background-image: none !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.12s linear 0s !important;
}

.Followbtn:hover{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.45);
    background-color: #0890e2;
}

@media (max-width: 500px) {
    .Followbtn{
        margin-left: -1em;
    }
}

