.UserDetail{
    width: 100%;
    margin: auto;
    border-bottom: solid #E1E8ED 1px;
    text-align: left;
}

.ContainerTitle{
    position: fixed;
    width: 780px;
    z-index: 5;
}
@media(max-width: 1300px){
    .ContainerTitle{
        width: 60%;
    }
}
@media(max-width: 1050px){
    .ContainerTitle{
        width: 700px;
    }
}
@media(max-width: 800px){
    .ContainerTitle{
        width: 81%;
    }
}
.Title{
    height: 3em;
    padding: 0.5em 1.5em;
    border-bottom: solid #E1E8ED 1px;
    background-color: rgb(255,255,255);
    z-index: 6;
}

.UserDetail h2,
.UserDetail p{
    margin: auto;
}

.UserDetail p{
    color: #657786;
}

.Info{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Follows{
    width: calc(100% - 230px);
    margin-top: -1em;
    display: flex;
    flex-direction: column;
}
.Names{
    display: flex;
    flex-direction: row;
    padding-top: 0em;
    padding-bottom: 1em;
    margin-bottom: 5px;
}
.Settings{
    margin: 1em 1em auto auto;
}
.InlineContainer{
    margin-bottom: 0.5em;
}
.Inline{
    display: inline-block;
    padding-right: 3em;
}


@media(max-width: 1050px){
    .Follows{
        width: calc(100% - 200px);
    }
}
@media(max-width: 800px){
    .Follows{
        width: calc(100% - 200px);
    }
}
@media(max-width: 750px){
    .Names{
        flex-direction: column;
    }
    .Settings{
        margin: 0.5em auto auto -0.5em;
    }
}

@media(max-width: 700px){
    .Inline{
        padding-right: 0;
        display: block;
        padding-bottom: 0.8em;
    }
    .InlineContainer{
        margin-bottom: 0.5em;
    }
}

@media(max-width: 500px){
    .Inline{
        display: inline-block;
        padding-right: 1em;
    }
    .Follows{
        width: calc(100% - 120px);
    }
}

.loading{
    background-color: #E1E8ED;
    color: #E1E8ED;
    animation: blur 1.2s linear infinite;
    -webkit-animation: blur 1.2s  linear infinite;
    -moz-animation: blur 1.2s  linear infinite;
}



@keyframes blur {
    0%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
    50% {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    100%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
}
