.EditProfile{
    margin: auto;
    width: 60%;
   text-align: center;
}
.EditProfile h2{
    margin-bottom: 2em;
}
.Label{
    color: #657786;
    text-align: left;
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}
.ImageContainer{
    margin: 2em 0;
}

@media(max-width: 600px){
    .EditProfile{
        width: 70%;
    }
}
@media(max-width: 450px){
    .EditProfile{
        width: 80%;
    }
}
@media(max-width: 350px){
    .EditProfile{
        width: 90%;
    }
}
