.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement {
    outline: none;
    border: none;
    border-bottom: 2px solid #F5F8FA;
    background-color: #AAB8C2;
    font: inherit;
    padding: 6px 10px;
    border-radius: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.InputElement[type="password"] {
    letter-spacing: 0.3em;
}
.InputElement[type="text"] {
    letter-spacing: 0.05em;
}
.InputElement[type="email"] {
    letter-spacing: 0.05em;
}
.InputElement::placeholder{
    letter-spacing: 0.05em;
}

.InputElement:focus {
    outline: none;
    background-color: #cfd1d4;
}

.Invalid{
    border-bottom: 2px solid #f37d7d;
    background-color: #f3d4d4;
}



.InputElementCreatePost {
    outline: none;
    border: none;
    border-bottom: solid #E1E8ED 2px;;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.textarea{
    resize: none;
    font-size: 1.5em;
}

.ColorGreen{
    border-bottom: 2px solid #1DA1F2;
}

@media(max-width: 400px){
    .InputCreatePost{
        width: 78%;
    }
}
