.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement {
    outline: none;
    border: none;
    border-bottom: 2px solid #F5F8FA;
    background-color: #AAB8C2;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid{
    border-bottom: 2px solid #fda6a6;
    background-color: #ffcaca;
}

.ColorGreen{
    border-bottom: 2px solid #adef70;
}

.InputCreatePost{
    width: 87%;
    box-sizing: border-box;
    margin-right: 8px;
}

.InputElementCreatePost {
    outline: none;
    border: none;
    border-bottom: solid #E1E8ED 2px;;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.textarea{
    resize: none;
    font-size: 1.5em;
}


@media(max-width: 400px){
    .InputCreatePost{
        width: 78%;
    }
}
