.MobileNavigation{
    width: 100%;
    height: 3em;
    position: fixed;
    background-color: #E1E8ED;
    bottom: 0;
    z-index: 10;
}

@media (min-width: 800px) {
    .MobileNavigation{
       display: none;
    }
}